{% extends 'layout/base.html' %}
{% load i18n %}
{% load extra-tags %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Cambiar contraseña</h2>
            <p>Introduce tu nueva contraseña dos veces para confirmar que la has escrito correctamente y luego, por seguridad, introduce la contraseña actual.</p>

            <form method="post" data-toggle="validator" role="form" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <p class="text-danger">(*) Son campos obligatorios</p>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $("input:visible").prop('required',true);
        $("input:visible").addClass('form-control');
    </script>
{% endblock %}