{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Detalles de {{ person.name|default_if_none:"-" }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h3>Datos personales<small> <a href="{% url 'person-edit' person.id %}">Editar</a>{% if not person.expperrol_set.all %} | <a href="{% url 'person-delete' person.id %}" data-delete="persona">Eliminar</a>{% endif %}</small></h3>
            </div>
            <dl class="dl-horizontal">
                <dt>Nombre</dt>
                <dd>{{ person.name|default_if_none:"-" }}</dd>
                <dt>DNI/CIF</dt>
                <dd>{{ person.id_number|default_if_none:"-" }}</dd>
                <dt>Nacionalidad</dt>
                <dd>{{ person.nationality|default_if_none:"-" }}</dd>
                <dt>Correo</dt>
                <dd>{{ person.email|default_if_none:"-" }}</dd>
                <dt>Página web</dt>
                <dd>{{ person.web|default_if_none:"-" }}</dd>
                <dt>Fecha de alta</dt>
                <dd>{{ person.creation_date|date:"d/m/Y"|default_if_none:"-" }}</dd>
            </dl>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h3>Datos de contacto<small> <a href="{% url 'phone-create' person.id %}">Nuevo</a></small></h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Numero</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tel in person.phone_set.all %}
                        <tr>
                            <td>{{ tel.phone_type.name }}</td>
                            <td>{{ tel.number }}</td>
                            <td><a href="{% url 'phone-edit' person.id tel.id %}">Editar</a> | <a data-delete="teléfono" href="{% url 'phone-delete' tel.id %}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>Direcciones<small> <a href="{% url "address-create" person.id %}">Nuevo</a></small></h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Direccion</th>
                        <th>Poblacion</th>
                        <th>Codigo postal</th>
                        <th>Provincia</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for address in person.address_set.all %}
                        <tr>
                            <td>{{ address.address }}</td>
                            <td>{{ address.location }}</td>
                            <td>{{ address.postal_code }}</td>
                            <td>{{ address.province }}</td>
                            <td><a href="{% url "address-edit" person.id address.id%}">Editar</a> | <a data-delete="dirección" href="{% url "address-delete" address.id%}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}