{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Detalles de {{ person.name|default:"-" }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h3>Datos personales<small> <a data-help="Editar persona" href="{% url 'person-edit' person.id %}"><span class="glyphicon glyphicon-pencil"/></a>{% if not person.expperrol_set.all %}&nbsp;&nbsp;<a href="{% url 'person-delete' person.id %}" data-help="Borrar persona" data-delete="persona"><span class="glyphicon glyphicon-trash"/></a>{% endif %}</small></h3>
            </div>
            <dl class="dl-horizontal">
                <dt>Nombre</dt>
                <dd>{{ person.name|default:"-" }}</dd>
                <dt>DNI/CIF</dt>
                <dd>{{ person.id_number|default:"-" }}</dd>
                <dt>Nacionalidad</dt>
                <dd>{{ person.nationality|default:"-" }}</dd>
                <dt>Correo</dt>
                <dd>{{ person.email|default:"-" }}</dd>
                <dt>Página web</dt>
                <dd>{{ person.web|default:"-"|urlizetrunc:30}}</dd>
                <dt>Fecha de alta</dt>
                <dd>{{ person.creation_date|date:"d/m/Y"|default:"-" }}</dd>
            </dl>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <h3>Datos de contacto<small> <a data-help="Añadir contacto" href="{% url 'phone-create' person.id %}"><span class="glyphicon glyphicon-plus"/></a></small></h3>
            </div>
            {% if not person.phone_set.all %}
                <p>No se ha encontrado ningún dato de contacto</p>
            {% else %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Numero</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tel in person.phone_set.all %}
                        <tr>
                            <td>{{ tel.phone_type.name }}</td>
                            <td>{{ tel.number }}</td>
                            <td><a data-help="Editar teléfono" href="{% url 'phone-edit' person.id tel.id %}"><span class="glyphicon glyphicon-pencil"/></a>&nbsp;&nbsp;<a data-help="Borrar teléfono" data-delete="teléfono" href="{% url 'phone-delete' tel.id %}"><span class="glyphicon glyphicon-trash"/></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>Direcciones<small> <a data-help="Añadir dirección" href="{% url "address-create" person.id %}"><span class="glyphicon glyphicon-plus"/></a></small></h3>
            </div>
            {% if not person.address_set.all %}
                <p>No se han encontrado direcciones</p>
            {% else %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Direccion</th>
                        <th>Poblacion</th>
                        <th>Codigo postal</th>
                        <th>Provincia</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for address in person.address_set.all %}
                        <tr>
                            <td>{{ address.address }}</td>
                            <td>{{ address.location|default:'-' }}</td>
                            <td>{{ address.postal_code|default:'-' }}</td>
                            <td>{{ address.province|default:'-' }}</td>
                            <td><a data-help="Editar dirección" href="{% url "address-edit" person.id address.id%}"><span class="glyphicon glyphicon-pencil"/></a>&nbsp;&nbsp;<a data-help="Borrar dirección" data-delete="dirección" href="{% url "address-delete" address.id%}"><span class="glyphicon glyphicon-trash"/></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}