{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Detalles de expediente (#{{ expedient.id }})</h2>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#expedientData" aria-controls="home" role="tab" data-toggle="tab">Datos expediente</a></li>
                    <li role="presentation"><a href="#expiration" aria-controls="profile" role="tab" data-toggle="tab">Vencimientos</a></li>
                    <li role="presentation"><a href="#budget" aria-controls="messages" role="tab" data-toggle="tab">Presupuestos</a></li>
                    <li role="presentation"><a href="#payment" aria-controls="settings" role="tab" data-toggle="tab">Pagos</a></li>
                </ul>

                <div class="row">
                    <div class="col-sm-5">
                            <div class="page-header">
                                <h3>Datos expediente <small><a data-help="Editar expediente" href="{% url 'expedient-edit' expedient.id %}"><span class="glyphicon glyphicon-pencil"/></a>&nbsp;&nbsp;<a href="{% url 'expedient-delete' expedient.id %}" data-help="Borrar expediente" data-delete="este expediente"><span class="glyphicon glyphicon-trash"/></a></small></h3>
                            </div>
                            <div class="expedient-details">
                                <dl class="dl-horizontal">
                                    <dt>Nº expediente</dt>
                                    <dd>{{ expedient.id}}</dd>
                                    <dt>Rama derecho</dt>
                                    <dd>{{ expedient.phase.law_branch|default:'-'}}</dd>
                                    <dt>Fase</dt>
                                    <dd>{{ expedient.phase|default:'-'}}</dd>
                                    <dt>Estado</dt>
                                    <dd>{{ expedient.state}}</dd>
                                    <dt>Sede</dt>
                                    <dd>{{ expedient.headquarters|default:'-'}}</dd>
                                    <dt>Tipo de usuario</dt>
                                    <dd>{{ expedient.user_type|default:'-'}}</dd>
                                    <dt>Fecha de alta</dt>
                                    <dd>{{ expedient.creation_date|date:"d/m/Y"}}</dd>
                                    {% if  expedient.end_date %}
                                        <dt>Fecha de cierre</dt>
                                        <dd>{{ expedient.end_date|date:"d/m/Y"}}</dd>
                                    {% endif %}
                                    <dt>Descripción</dt>
                                    <dd>{{ expedient.description|linebreaks|default:"-" }}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="page-header">
                                <h3>Notas</h3>
                            </div>
                            <div class="expedient-notes row">
                                <div class="col-sm-6 text-center">
                                    <form action="{% url "note-edit" %}" method="post" class="note-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="expedient" value="{{ expedient.id }}"/>
                                        <input type="hidden" name="note" value=""/>
                                        <textarea name="description" class="sticky-note" placeholder="Escribe para añadir una nota..."></textarea>
                                        <div class="btn-group sticky-note-action" role="group">
                                            <button type="submit" name="save" value="save" class="btn btn-success btn-xs hidden">Añadir</button>
                                        </div>
                                    </form>
                                </div>
                            {% for note in expedient.note_set.all %}
                                <div class="col-sm-6 text-center">
                                    <form action="{% url "note-edit" %}" method="post" class="note-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="expedient" value="{{ expedient.id }}"/>
                                        <input type="hidden" name="note" value="{{ note.id }}"/>
                                        <textarea name="description" class="sticky-note">{{ note }}</textarea>
                                        <div class="btn-group sticky-note-action" role="group">
                                            <button type="submit" name="save" value="save" class="btn btn-success btn-xs hidden">Guardar</button>
                                            <button formnovalidate type="submit" name="delete" value="delete" data-delete="esta nota" class="btn btn-danger btn-xs hidden">Eliminar</button>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="expedientData">
                         <div class="row">
                            <div class="col-sm-6">
                                <!-- Customers table -->
                                <div class="page-header">
                                    <h4>Clientes</h4>
                                </div>
                                {% if expedient.customers %}
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>N&ordm;</th>
                                        <th>Nombre</th>
                                        <th>DNI/NIF</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in expedient.customers %}
                                        <tr>
                                            <td class="col-md-1">{{ person.id }}</td>
                                            <td class="col-md-4">{{ person.name|default:"-" }}</td>
                                            <td class="col-md-2">{{ person.id_number|default:"-" }}</td>
                                            <td class="col-md-1"><a data-help="Ver detalles" href="{% url 'person-details' person.id %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>No hay ningún cliente asociado.</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <!-- Contraries (not lawyers) table -->
                                <div class="page-header">
                                    <h4>Contrarios</h4>
                                </div>
                                {% if expedient.contraries %}
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>N&ordm;</th>
                                        <th>Nombre</th>
                                        <th>DNI/NIF</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in expedient.contraries %}
                                        <tr>
                                            <td class="col-md-1">{{ person.id }}</td>
                                            <td class="col-md-4">{{ person.name }}</td>
                                            <td class="col-md-2">{{ person.id_number|default:"-" }}</td>
                                            <td class="col-md-1"><a data-help="Ver detalles" href="{% url 'person-details' person.id %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <p>No hay ningún contrario asociado.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Self attorneys table -->
                                <div class="page-header">
                                    <h4>Procuradores propios</h4>
                                 </div>
                                {% if expedient.own_attorneys %}
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>N&ordm;</th>
                                        <th>Nombre</th>
                                        <th>DNI/NIF</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in expedient.attorneys %}
                                        <tr>
                                            <td class="col-md-1">{{ person.id }}</td>
                                            <td class="col-md-4">{{ person.name }}</td>
                                            <td class="col-md-2">{{ person.id_number|default:"-" }}</td>
                                            <td class="col-md-1"><a data-help="Ver detalles" href="{% url 'person-details' person.id %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>No hay ningún procurador asociado.</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <!-- Attorneys table -->
                                <div class="page-header">
                                    <h4>Procuradores contrarios</h4>
                                 </div>
                                {% if expedient.attorneys %}
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>N&ordm;</th>
                                        <th>Nombre</th>
                                        <th>DNI/NIF</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in expedient.attorneys %}
                                        <tr>
                                            <td class="col-md-1">{{ person.id }}</td>
                                            <td class="col-md-4">{{ person.name }}</td>
                                            <td class="col-md-2">{{ person.id_number|default:"-" }}</td>
                                            <td class="col-md-1"><a data-help="Ver detalles" href="{% url 'person-details' person.id %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>No hay ningún procurador asociado.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-6">
                                <!-- Contraries (lawyers) table -->
                                <div class="page-header">
                                    <h4>Abogados contrarios</h4>
                                </div>
                                {% if expedient.contrary_lawyers %}
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>N&ordm;</th>
                                        <th>Nombre</th>
                                        <th>DNI/NIF</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in expedient.contrary_lawyers %}
                                        <tr>
                                            <td class="col-md-1">{{ person.id }}</td>
                                            <td class="col-md-4">{{ person.name }}</td>
                                            <td class="col-md-2">{{ person.id_number|default:"-" }}</td>
                                            <td class="col-md-1"><a data-help="Ver detalles" href="{% url 'person-details' person.id %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <p>No hay ningún abogado contrario asociado.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="expiration">...</div>
                    <div role="tabpanel" class="tab-pane fade" id="budget">...</div>
                    <div role="tabpanel" class="tab-pane fade" id="payment">...</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.sticky-note').focusin(function(){
           $(this).next().find('button').removeClass('hidden');
        });
        $(function(){
                $('.note-form').formValidation({
                    framework: 'bootstrap',
                    fields: {
                        description: {
                            validators: {
                                notEmpty: {
                                    message: 'Debes escribir algo en la nota para poder guardarla.'
                                }
                            }
                        }
                    }
                });
            });
    </script>
{% endblock %}