body {
    background-color: #dbf3ff;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.navbar{
    border-radius: 0px;
}
.container .text-muted {
  margin: 20px 0;
}