{% extends 'layout/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{% if not creating %}Editar{% else %}Añadir {% endif %} pago</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% include "expedient/expedient-data.html" with expedient=expedient %}
        </div>
        <div class="col-sm-6">
            {% include "budget/details.html" with expedient=expedient budget=expedient.budget %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="page-header">
                <h3>Datos del pago</h3>
            </div>
            <form method="post" class="form-horizontal" data-toggle="validator">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <p class="text-danger">(*) Son campos obligatorios</p>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'expedient-details' expedient.id %}#budget-payment" class="btn btn-warning">Cancelar</a>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('form').formValidation({
                framework: 'bootstrap',
                fields: {
                    amount: {
                        validators: {
                            numeric: {
                                thousandsSeparator: ',',
                                decimalSeparator: '.'
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}