<!DOCTYPE html>
<html lang="es">
    <head>
        {% load staticfiles %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>Metropol</title>
        <!-- CSS  -->
        <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet"/>
        <link href="{% static "css/font-awesome.css" %}" type="text/css" rel="stylesheet"/>
        <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet"/>
        <!--  Scripts-->
        <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </head>
    <body>
        <!-- Cabecera -->
        {% include "layout/header.html" %}
        <!-- Cuerpo -->
        <main id="content" class="container">
            {% block content %} {% endblock %}
        </main>
        <!-- Pie -->
        {% include "layout/footer.html" %}
    </body>
</html>